Engine/
Export/
Downloads/
Uploads/
EngineSource/godot
EngineSource/godot/*
godot-pr-temp
EngineSource/.applied-patches.txt
Thumbs.db
desktop.ini
.DS_Store
.claude
.vscode
*.blend1
*.blend2
*.blend3
*.bak*
*.bak